/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.textgrey{
   color: #9c9d9e;
}

/* regole header  */

header>nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: 90%;
    margin: auto;
    font-size: 17px;
}

header>nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

header>nav ul img{
    width: 20px;
}

header>nav ul>li{
    padding-right: 40px;
    cursor: pointer;
}

header>nav ul>li button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.menu{
    position: relative;
}

.menu-hide{
    position: absolute;
    top: 100%;
    left: 0%;
    display: none;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px;
}

.menu-hide ul{
    display: block;
    padding-top: 20px;
}

#sign{
    background-color: #f0f0f0;
    color: #000;
}

#get{
    background-color: #191c20;
    color: #fff;
}


/* regole main */
main{
    margin-top: 100px;
}
